.grade {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px;
    border-radius: 14px;
    background-color: var(--cor-primaria);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.card img {
    display: block;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
} 

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    padding-block: 8px;
    background-color: var(--cor-fonte-secundaria);
    color: var(--cor-fonte-primaria); 
}

footer a p {
    font-size: 22px;
    font-family: "Quantico", sans-serif;
    
}

footer a svg {
    width: 28px;
    height: 28px;
}

footer a svg path {
    fill: var(--cor-fonte-primaria);
}

footer a:hover {
    background-color: var(--cor-fonte-terciaria);
    color: var(--cor-primaria); 
}

footer a:hover svg path{
    fill: var(--cor-primaria);
}
