html, body {
    height: 100%;
}

body{
    display: grid;
    place-items: center;
    font-family: "Silkscreen";
}

.wrapper {
    display: grid;
    place-items: center;
    gap: 60px;
}

.logo {
    display: flex;
    align-items: baseline;
    justify-content: center;

    gap: 8px;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-bebidas, .btn-lanches {
    background-color: var(--cor-primaria);
    border-radius: 14px;
    border: none;
    box-shadow: 4px 4px 0 0 var(--cor-terciaria);
}

.btn-bebidas:hover, .btn-lanches:hover {
    background-color: var(--cor-fonte-secundaria);
    box-shadow: 4px 4px 0 0 var(--cor-fonte-terciaria);
}

.btn-bebidas:hover a, .btn-lanches:hover a{
    color: var(--cor-primaria);
}

.btn-bebidas a, .btn-lanches a {
    display: block;
    color: var(--cor-fonte-primaria);
    font-family: "Quantico";
    font-size: 32px;
    padding: 10px 30px;
}

.logo-name {
    color: var(--cor-fonte-secundaria);
    font-size: 85px;
    text-shadow:  var(--cor-fonte-terciaria) 2px 2px 0;
} 

img {
    display: block;
    width: 200px;
}
