h1 {
    text-align: center;
}

.grade {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
}

.card {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 24px;
    border-radius: 14px;
    background-color: var(--cor-quaternaria);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.card img {
    display: block;
}

.informacoes {
    width: 100%;
}

.preco {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 24px;
}

.preco svg {
    width: 28px;
    height: 28px;
}

.preco svg:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.preco path {
    fill: var(--cor-fonte-secundaria);
}

.preco svg:hover path {
    fill: var(--cor-primaria);
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
} 

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    padding-block: 8px;
    background-color: var(--cor-fonte-secundaria);
    color: var(--cor-fonte-primaria); 
}

footer p {
    font-size: 22px;
    font-family: "Quantico", sans-serif;
    
}

footer svg {
    width: 28px;
    height: 28px;
}

footer path {
    fill: var(--cor-fonte-primaria);
}

footer a:hover {
    background-color: var(--cor-fonte-terciaria);
    color: var(--cor-primaria); 
}

footer a:hover path{
    fill: var(--cor-primaria);
}
